In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [2]:
dados = pd.read_csv('IBOVDiA3.csv')               # Importando os dados dp aquivo "IBOVDiA3.csv".
display(dados)

   Unnamed: 0 Unnamed: 1        CD
0       RRRP3        .SA  RRRP3.SA
1       ALPA4        .SA  ALPA4.SA
2       ABEV3        .SA  ABEV3.SA
3       AMER3        .SA  AMER3.SA
4       ASAI3        .SA  ASAI3.SA
..        ...        ...       ...
86      VALE3        .SA  VALE3.SA
87      VIIA3        .SA  VIIA3.SA
88      VBBR3        .SA  VBBR3.SA
89      WEGE3        .SA  WEGE3.SA
90      YDUQ3        .SA  YDUQ3.SA

[91 rows x 3 columns]

In [3]:
tickers = dados["CD"]                            # Selecinando apenas os tickers das ações.
data_inicial = dt.datetime(2022,4,19)
data_final    = dt.datetime(2022,4,20)
lista = tickers 
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df

Attributes  Adj Close                                                   \
Symbols      RRRP3.SA   ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA   AZUL4.SA
Date
2022-04-19  43.259998  22.240000    14.65    28.01    16.34  23.469999
2022-04-20  43.790001  21.709999    14.73    27.24    16.59  24.000000

Attributes                                        ...     Volume             \
Symbols    B3SA3.SA  BIDI11.SA BPAN4.SA BBSE3.SA  ...   VIVT3.SA   TIMS3.SA
Date                                              ...
2022-04-19    14.54  18.840000    10.11    26.02  ...  2020500.0  3349300.0
2022-04-20    14.69  17.690001     9.93    26.76  ...  1724600.0  2985700.0

Attributes                                                            \
Symbols      TOTS3.SA   UGPA3.SA    USIM5.SA    VALE3.SA    VIIA3.SA
Date
2022-04-19  8007400.0  7113900.0  17113200.0  34550900.0  36734500.0
2022-04-20  4702200.0  4076800.0  49696900.0  29562400.0  48299400.0

Attributes
Symbols      VBBR3.SA    WEGE3.SA   YDUQ3.SA
Date
2022-04-19  4668700.0  12091000.0  2504300.0
2022-04-20  3929300.0   5499700.0  2088800.0

[2 rows x 546 columns]

In [4]:
df['Close'] = df['Close'].pct_change()           # Calculando a variação diária da ação.

test = pd.DataFrame(df['Close'].round(4)*100)    # Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01. 
test

Symbols,RRRP3.SA,ALPA4.SA,ABEV3.SA,AMER3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BIDI11.SA,BPAN4.SA,BBSE3.SA,...,VIVT3.SA,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIIA3.SA,VBBR3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-20,1.23,-2.38,0.55,-2.75,1.53,2.26,1.03,-6.1,-1.78,2.84,...,-0.23,-0.44,-1.89,-0.55,-6.34,-2.6,-4.11,-0.04,0.16,-2.34

In [5]:
ibov = test.iloc[1].round(2)                   # Buscando os dados da linha 01.
ibov

Symbols
RRRP3.SA    1.23
ALPA4.SA   -2.38
ABEV3.SA    0.55
AMER3.SA   -2.75
ASAI3.SA    1.53
            ...
VALE3.SA   -2.60
VIIA3.SA   -4.11
VBBR3.SA   -0.04
WEGE3.SA    0.16
YDUQ3.SA   -2.34
Name: 2022-04-20 00:00:00, Length: 91, dtype: float64

In [6]:
ibov.to_excel('ibov_cotação.xlsx')       # Exportando via arquivo xlsx.