In [11]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [35]:
dados = pd.read_csv('IBOVDiA3.csv')               # Importando os dados dp aquivo "IBOVDiA3.csv".
display(dados)

   Unnamed: 0 Unnamed: 1        CD
0       RRRP3        .SA  RRRP3.SA
1       ALPA4        .SA  ALPA4.SA
2       ABEV3        .SA  ABEV3.SA
3       AMER3        .SA  AMER3.SA
4       ASAI3        .SA  ASAI3.SA
..        ...        ...       ...
86      VALE3        .SA  VALE3.SA
87      VIIA3        .SA  VIIA3.SA
88      VBBR3        .SA  VBBR3.SA
89      WEGE3        .SA  WEGE3.SA
90      YDUQ3        .SA  YDUQ3.SA

[91 rows x 3 columns]

In [36]:
tickers = dados["CD"]                            # Selecinando apenas os tickers das ações.
data_inicial = dt.datetime(2022,4,8)
data_final    = dt.datetime(2022,4,11)
lista = tickers 
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df

Attributes  Adj Close                                                       \
Symbols      RRRP3.SA   ALPA4.SA ABEV3.SA   AMER3.SA   ASAI3.SA   AZUL4.SA
Date
2022-04-08  44.099998  24.160000    14.93  28.580000  16.120001  23.799999
2022-04-11  44.040001  23.860001    15.36  28.209999  16.010000  24.110001

Attributes                                          ...   Volume           \
Symbols    B3SA3.SA  BIDI11.SA BPAN4.SA   BBSE3.SA  ... VIVT3.SA TIMS3.SA
Date                                                ...
2022-04-08    15.60  18.799999    10.01  26.190001  ...  1804000  7938600
2022-04-11    15.12  18.490000     9.86  25.930000  ...   390300  1828000

Attributes                                                                    \
Symbols    TOTS3.SA UGPA3.SA  USIM5.SA  VALE3.SA  VIIA3.SA VBBR3.SA WEGE3.SA
Date
2022-04-08  3911700  3431100  24303700  26820000  76069400  5231400  4992100
2022-04-11  2202700   980600   7489900   8834000  34218600  1417000  2782800

Attributes
Symbols    YDUQ3.SA
Date
2022-04-08  2353400
2022-04-11   725500

[2 rows x 546 columns]

In [37]:
df['Close'] = df['Close'].pct_change()           # Calculando a variação diária da ação.

test = pd.DataFrame(df['Close'].round(4)*100)    # Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01. 
test

Symbols,RRRP3.SA,ALPA4.SA,ABEV3.SA,AMER3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BIDI11.SA,BPAN4.SA,BBSE3.SA,...,VIVT3.SA,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIIA3.SA,VBBR3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-11,-0.14,-1.24,2.88,-1.29,-0.68,1.3,-3.08,-1.65,-1.5,-0.99,...,0.2,0.51,-1.23,-0.22,-1.15,-1.22,0.56,-0.36,-2.87,-2.85

In [38]:
ibov = test.iloc[1].round(2)                   # Buscando os dados da linha 01.
ibov

Symbols
RRRP3.SA   -0.14
ALPA4.SA   -1.24
ABEV3.SA    2.88
AMER3.SA   -1.29
ASAI3.SA   -0.68
            ...
VALE3.SA   -1.22
VIIA3.SA    0.56
VBBR3.SA   -0.36
WEGE3.SA   -2.87
YDUQ3.SA   -2.85
Name: 2022-04-11 00:00:00, Length: 91, dtype: float64

In [39]:
ibov.to_excel('ibov_cotação.xlsx')       # Exportando via arquivo xlsx.